<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <section class="col-1">
      <header class="header">
      <div class=header-logo href=></head>
        <nav class= header-nav>
          <ul>
            <li>info</li>
            <li>suscribe</li>
            <li>prices</li>
          </ul>
        </nav>
      </header>
    </section>
    <main class=hero>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ullam rerum officiis velit sit libero ad. In maiores harum enim eos necessitatibus, ex illum ea deleniti mollitia, sed eaque esse?
      <button class= hero-button>suscribe</button>
    </main>
    <section class= col-2>
      <nav class= col-2__menu>
        <ul>
          <li class= col-2__menu__download> descarga donde quieras </li>
          <li class= col-2__menu__noadd> </li> sin anuncios
          <li class= col-2__menu__wherever> donde quieras </li>
          <li class= col-2__menu__skip> salta todas las canciones </li>
        </ul>
      </nav>
    </section>
  </body>
</html>
